# Firebase configuration
FIREBASE_API_KEY=AIzaSyAKHAXsS3VIAgpqW2A0sDSJPAWV7O4I1Hc
FIREBASE_AUTH_DOMAIN=rofy-bdac2.firebaseapp.com
FIREBASE_PROJECT_ID=rofy-bdac2
FIREBASE_STORAGE_BUCKET=rofy-bdac2.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=980202475129
FIREBASE_APP_ID=1:980202475129:web:a450d9906061a41b100ea8
FIREBASE_MEASUREMENT_ID=G-ZWHTCPB2RD

# Anthropic AI configuration
ANTHROPIC_KEY=your_anthropic_key
PLAN_CREATION_MODEL=claude-sonnet-4-20250514

# Clerk authentication
PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YmVsb3ZlZC1waWthLTIwLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_ISSUER=https://beloved-pika-20.clerk.accounts.dev
CLERK_SECRET_KEY=sk_test_nzmcHVjglsULu7o79CkYNdPyurRT62RdAvBf2rSMKD

# Database configuration
DB_HOST=dev-rofy-mysql-nyc1-79282-do-user-6349949-0.i.db.ondigitalocean.com
DB_USER=doadmin
DB_PASSWORD=AVNS_Ga8bZ-17NpOnSnNdPrm
DB_NAME=rofy_dev
DB_PORT=25060

# Server configuration
NODE_ENV=development
PORT=5001

DEV_USER_ID=user_318ndomUUy0ZVB5fxg8yI4e51wy

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


# MySQL connection string for Prisma
DATABASE_URL="mysql://doadmin:AVNS_Ga8bZ-17NpOnSnNdPrm@dev-rofy-mysql-nyc1-79282-do-user-6349949-0.i.db.ondigitalocean.com:25060/rofy_dev"